.subscribe{
    margin-top: 100px;
    background-image: url("lib/Rectangle 6.png");
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: $mid;
    justify-content: $mid;
    color: white;
}

.subscribe__p{
    @include sett(1.54vw, 400, Gilroy, 29.4px, $mid);
    margin-block-start: 0;
    margin-block-end: 0;
    @media (max-width: 1024px) {
        font-size: 22px;
    }
}

.subscribe__h2{
    @include sett(2.21vw, 700, Noto Serif, 40.86px, $mid);
    margin-block-start: 10px;
    @media (max-width: 1024px) {
        font-size: 33px;
    }
}

.subscribe__block{
    display: flex;
    align-items: $mid;
}

.subscribe__block_list-item{
    list-style-image: url('lib/Polygon 2.png');
    @include sett(1.32vw, 400, Gilroy, 36px, left);
    padding-left: 10px;
    @media (max-width: 1024px) {
        font-size: 21px;
    }
}

.subscribe__block_border{
    padding: 10px;
    border: 1px solid #fff;
}

.subscribe__block_form{
    margin: 3px;
    padding: 15px;
    background-color: #fff;
    display: flex;
    align-items: $mid;
}

.subscribe__block_list{
    margin-right: 100px;
}

.subscribe__block_button{
    @include sett(1.32vw, 500, Gilroy, 21.19px, $mid);
    letter-spacing: 0.1em;
    color: white;
    background-color: #333333;
    text-transform: uppercase;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    &:hover{
        background-color: white;
        color: #333333;
        transition: all 0.4s;
    }
    @media (max-width: 1024px) {
        font-size: 18px;
    }
}

.subscribe__block_input{
    height: 39px;
    margin: 10px;
    padding-left: 20px;
    @include sett(1.03vw, 500, Gilroy, 16.48px, left);
    letter-spacing: 0.1em;
    @media (max-width: 1024px) {
        font-size: 17px;
        padding-left: 16px;
    }
}